@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('../src/components/Navbar/Navbar.css');


/*Portada, cover*/

main{
    max-width: 1200px;
    height: calc(100vh+800px);
    padding: 40px;
    margin: auto;
}

.cover{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.textoInformacion{
    width: 50%;
}

.textoInformacion h1{
    font-size: 50px;
}

.textoInformacion p{
    font-size: 18px;
    margin-top: 40px;
}

.btnCover{
    display: flex;
    margin-top: 40px;
}

.btnReadMoreCover{
    padding: 14px 40px;
    border: none;
    color: #000;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    transition: background 300ms;
}

.btnReadMoreCover:hover{
    background: #8c8c8c;
}

.mediaCover{
    width: 50%;
}

.mediaCover video{
    width: 100%;
    margin-top: -40px;
}

/*Banner*/

.containerBanner{
    margin-top: 80px;
}
.banner{
    height: 250px;
    display: flex;
    align-items: center;
    background: #121214;
    position: relative;
}
.bannerIconHeart{
    width: 35%;
    height: 100%;
}

#iconHeart{
width: 400px;
margin-top: -20px;
position: relative;
filter:drop-shadow(-40px 0px 30px rgba(0,0,0,0.5));
}

.bannerText{
    width: 60%;
    position: relative;
    padding: 40px;
}

.bannerText h2{
    color: #fff;
    font-size: 32px;
    font-weight: 400;
}

.bannerText a{
    text-decoration: none;
    display: block;
    margin-top: 20px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    transition: color 300ms;
}

.bannerText a:hover{
    color: #8c8c8c;
}

.bannerIconFire{
    height: 100%;
    position: absolute;
    right: 10px;
    overflow: hidden;
}

#iconFire{
    width: 300px;
    position: relative;
    margin-top: -100px;
    opacity: 0.6;
}

/*Buscardor*/
.button-buscar{
    position: absolute;
    padding: 5px;   
}
.button-buscar input{
    width: 240px;
    height: 40px;
    padding: 0 60px;
    font-size: 18px;
   color: #000; 
   outline: none;
   border: 1px solid silver;
   border-radius: 30px;
   transition: all 0.6s ease;
}
.btn-buscar{
    position: absolute;
    top: 0;
    left: 0;

    background: #000;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    color: white;
    font-size: 20px;
    border-radius: 50%;
    cursor:pointer;
}
.button-buscar:hover input{
    width: 240px;

}

.button-buscar input:focus{
    width: 240px;
}

/*Footer*/
footer{
    margin: 0px;
    padding: 40px;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: #202020;
    color: white;
    width: 100%;
}

.containter-footer-all{
    width: 100%;
    max-width: 1600px;
    margin: auto;
}

.container-body{
    display: flex;
    justify-content: space-between;
}
.colum1{
    max-width: 400px;
}
.colum1 h1{
    font-size: 22px;
}

.colum1 p{
    font-size: 14px;
    color: #c7c7c7;
    margin-top: 20px;
}

.colum2{
    max-width: 400px;
}

.colum2 h1{
    font-size: 22px;
}

.colum2 .row {
    margin-top: 20px;
    display: flex;
}

.row img {
    width: 36px;
    height: 36px;
}

.row label {
    margin-top: 10px;
    margin-left: 10px;
    color: #C7C7C7;
}

.colum3{
    max-width: 400px;
}

.colum3 h1{
    font-size: 22px;
}

.row2 {
    margin-top: 20px;
    display: flex;
}

.row2 img{
    width: 36px;
    height: 36px;
}

.row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}

.container-footer{
    width: 100%;
    background:#101010;
}

.footer{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    padding: 40px;
    margin: auto;
}

.copyright{
    color: #C7C7C7;
}

.copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.information a{
    text-decoration: none;
    color: #C7C7C7;
}

@media screen and (max-width:1100px){
    
    .container-body{
        flex-wrap: wrap;
    }

    .colum1{
        max-width: 100%;
    }

    .colum2,
    .colum3{
        margin-top: 40px;   
}
}
